<% if current_user == @user %>
<div class="feed-panel">
  <ul id="feed-box">
    <% @user.following.each do |follow| %>
      <% follow.events.each do |event| %>
        <li><%= link_to follow.name, user_path(follow) %></li>
        <li>Completed <%= "#{event.minutes / 60}" %> hours, <%= "#{event.minutes % 60}" %> minutes of <%= event.goal.habit.name %>.</li>
        <li><%= event.time_since_completion %> ago</li>
      <% end %>
    <% end %>
  </ul>
</div>
<% end %>
