<% @user ||= current_user %>

<div class="stats">
    following
    <a href="<%= following_user_path(@user) %>">
      <strong id="following" class="stat">
        <%= @user.following.count %>
      </strong>
    </a> |
    followers
    <a href="<%= followers_user_path(@user) %>">
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
    </a> |
  Hours logged: <%= @user.all_hours_logged %> |
  Goals reached: <%= @user.total_goals_reached %>
</div>
