<h2>End <%= @event.goal.habit.name %> Session</h2>
<p><%= @event.start_time %></p>
<p><%= @event.date %></p>

<%= form_for @event do |f| %>
  <%= f.time_field :end_time, value: Time.now, type: :hidden %>
  <%= f.submit "End #{@event.goal.habit.name}" %>
<% end %>
