<div class="">
  <h1><%= @goal.habit.name %></h1>
  <h2><%= @goal.user.name %></h2>
  <ul>
    <li>Total Time: <%= @goal.total_time %></li>
    <li>Total Sessions: <%= @goal.total_events %></li>
    <li>Longest Streak: <%= @goal.longest_streak %></li>
  </ul>

  <%= form_for @event do |f| %>
    <%= f.number_field :goal_id, value: @goal.id, type: :hidden %>
    <%= f.time_field :start_time, value: Time.now, type: :hidden %>
    <%= f.date_field :date, value: Date.today, type: :hidden %>
    <%= f.submit "Start #{@goal.habit.name}" %>
  <% end %>

  <ul>
    <% @goal.events.each do |event| %>
      <p>__________________________</p>
      <li>Date: <%= event.date_formatter %></li>
      <li>Start Time: <%= event.start_time.strftime("%R") %></li>
      <% if event.end_time == nil %>
        <li><%= link_to "End", edit_event_path(event) %></li>
      <% else %>
        <li>End Time: <%= event.end_time.strftime("%R") %></li>
        <li>Elapsed Time: <%= event.elapsed_time %></li>
      <% end %>
    <% end %>
  </ul>
</div>
