<div class="goal-show col-6">
  <h1><%= @goal.habit.name %></h1>
  <h2><%= @goal.user.name %></h2>
  <ul class="list-inline">
    <li id="f-descript">Total Time: <%= "#{@goal.total_time / 60}:#{@goal.total_time % 60}" %></li>
    <li id="f-descript">Total Sessions: <%= @goal.total_events %></li>
    <li id="f-descript">Longest Streak: <%= @goal.longest_streak %></li>
  </ul>

  <% if @goal.user == current_user %>
    <%= link_to "Edit Goal", edit_goal_path(@goal), class: "btn btn-primary" %>
    <%= link_to "Delete Goal", goal_path(@goal), method: :delete, class: "btn btn-primary"%>

    <%= form_for @event do |f| %>
      <%= f.number_field :goal_id, value: @goal.id, type: :hidden %>
      <%= f.time_field :start_time, value: Time.now, type: :hidden %>
      <%= f.date_field :date, value: Date.today, type: :hidden %>
      <%= f.submit "Start #{@goal.habit.name}", class: "btn btn-primary" %>
    <% end %>

  <% end %>
  </div>
  <div class="feed col-6">
    <ul class="list-inline">
      <% @goal.events.each do |event| %>
        <div class="feed-box">
          <li id="f-descript">Date: <%= event.date_formatter %></li>
          <li id="f-descript">Start Time: <%= event.start_time.strftime("%R") %></li>
          <% if event.end_time == nil %>
            <li id="f-descript"><%= link_to "End", edit_event_path(event) %></li>
          <% else %>
            <li id="f-descript">End Time: <%= event.end_time.strftime("%R") %></li>
            <li id="f-descript">Elapsed Time: <%= event.elapsed_time %></li>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>
